html,body{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
}

#mybook{
	width:800px;
	height:600px;
	border:1px solid #000;
	margin:50px;
}

#mybook .page .title{
	padding:20px;
	font-size:2em;
}

#mybook .page{
	width:100%;
	height:100%;
}

#mybook .page1{
	background-color: #ffcccc;
}

#mybook .page2{
	background-color: #ccffcc;
}

#mybook .page3{
	background-color: #ccccff;
}