
.pageturner-book {
  display: block;
  width:100%;
  height:100%;
}

.pageturner-book #base{
  position:absolute;
}

.pageturner-book .leafedge{
  width:10px;
  height:100%;
  position: absolute;
  left:-5px;
}

.pageturner-book #leaves{
  position:absolute;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  -ms-perspective: 800px;
  -0-perspective: 800px;
  perspective: 800px;
}

.nobackside{
  
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  
}

.maintain3d{
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  overflow: visible !important;
}

.pageturner-book .leafholder{
  display: block;
  position: absolute;
  width:100%;
  height:100%;
}

.pageturner-book .leaf{
  display: block;
  position: absolute;
  width:100%;
  height:100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;  
}

.pageturner-book .content{
  display: block;
  position: absolute;
  width:100%;
  height:100%;
}