.pageturner-book {
  position:relative;
  left:0px;
  top:0px;
  display: block;
  width:100%;
  height:100%;
}

.pageturner-book .filler{
  display: block;
  position:absolute;
  width:100%;
  height:100%;
}

.pageturner-book .nobackside{
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
}

.pageturner-book .maintain3d{
  
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  
}

.pageturner-book img { 
  image-rendering: optimizeQuality;
  overflow: visible !important;
  -webkit-background-clip:padding-box;
  background-clip:padding-box;
  -ms-interpolation-mode: bicubic;
}